@model CartViewModel

<div class="row">
    <div class="col-lg-12">
        <h1>Welcome: @User.Identity.Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>Cart items [@Model.Items.Count]</h2>
        <div class="list-group">
            @foreach (var item in Model.Items)
            {
                <a href="#" class="list-group-item list-group-item-action">@item.ProductName</a>
            }
        </div>
    </div>
</div>